/*Definimos a la raiz del documento variables que usaremos para
los estilos*/
:root{
    --rojo: #e50914;
    --fondo:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 90%;
    margin: auto;  /*Alineamos horizontalmente el contenedor al centro de su padre.*/
}
header {
    padding: 30px 0;
}
header .container{
    display: flex;
    justify-content: space-between;  /*Separamos a los costados en logo y el nav*/
    align-items: center;  /*Alineamos verticalmente los elementos*/
}
header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;  /*Quitamos las negritas que viene por defecto en la etiqueta h2*/
    color:var(--rojo);
}
header nav a{
    color:#aaa;
    text-decoration: none;  /*Quitamos los subrayados*/
    margin-right: 20px;
}
header nav a:hover,
header nav a.active{
    color: #fff;
}

/* MAIN MOVIE */
.main-movie {
    font-size: 16px;  /*1em = 16px*/
    min-height: 40.62em;
    color:#fff;
    background: linear-gradient(rgba(0,0,0, .5) 0% , rgba(0,0,0, .5) 100%),url('../img/backdrop.jpg');
    background-position: center center;   /*Posicionamos el backgroud al centro verticalmente y horizontalmente*/
    background-size: cover;  /*Especificamos que la imagen ocupe todo el espacio de su contenedor*/
    background-repeat: no-repeat; /*Hacemos q la imagen no se repita*/
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.main-movie .container{
    margin: 0 auto;  /*Quitamos el margen auto y colocamos margin 0 para el lado vertical y para el
    horizontal auto para que este centrado*/
    margin-bottom: 6.25em;
}
.main-movie .title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.main-movie .description{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.main-movie .button{
    background: rgba(0,0,0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    cursor: pointer;
    color: #fff;
    margin-right: 1.25em;
    transition: .3s ease all;  /*Podemos manipular las propiedades que queremos darle al pasar con el mouse (atributo de una etiqueta html,
    duracion) podemos colocar para mas de una atributo separandolo por comas*/
    /* ease: es una funcion de curva de velocidad con inicio lento, luego rápido, luego finaliza lentamente
    all: signnifica que queremos que se aplique a todas los atributos de la etiqueta.*/
    font-size: 1.12em;
}
.main-movie .button:hover{
    background: #fff;
    color: #000;
}
.main-movie .button i{
    margin-right: 1.25em;
}

/* Container title and Controls */
.container-title-controls{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container-title-controls h3{
    color: #fff;
    font-size: 30px;
}
.container-title-controls .indicators button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.container-title-controls .indicators button:hover,
.container-title-controls .indicators button.active{
    background: red;
}


/* Main Container and Arrows */
.recomended-movies{
    margin-bottom: 70px;
}
.recommended-movies .container-main{
    display: flex;
    align-items: center;
    position: relative;
}

.recommended-movies .container-main .arrow-left,
.recommended-movies .container-main .arrow-right{
    position: absolute;
    border: none;
    background: rgba(0,0,0, .3);
    font-size: 40px;
    height: 50%;
    top: calc(50%-25%);
    line-height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2 ease all;
}
.recommended-movies .container-main .arrow-left{
    left: 0;
}
.recommended-movies .container-main .arrow-right{
    right: 0;
}
.recommended-movies .container-main .arrow-left:hover,
.recommended-movies .container-main .arrow-right:hover{
    background: rgba(0,0,0, .9);
}

/* Carrusel */
.recommended-movies .container-carrusel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;  /*Especificamos que todo lo q salga del 100% que lo mantenga oculto*/
    scroll-behavior: smooth;  /*Establecemos que el scroll que se afectuara en las imagenes del carrusel sea mas lento y suave.*/
}
.recommended-movies .container-carrusel .carrusel{
    display: flex;
    flex-wrap: nowrap;  /*Especificamos q los elementos hijos(las imagenes) se muestren en una sola linea y no multiples.*/
}
.recommended-movies .container-carrusel .carrusel .movie{
    min-width: 20%;  /*Con esta linea especificamos que el tamaño de cada caja de imagen se reduzca minimamente al 20%*/
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgb(0,0,0, .3); /* offset-x | offset-y | blur-radius(difuninado 20px:alto 0px:bajo ) | color */
}
.recommended-movies .container-carrusel .carrusel .movie img{
    width: 100%;  /*Especificamos que las imagenes tegan un ancho completo de su padre. Esto ocapcionara que todas las imagenes que tengamos se muestren reduciendo su tamaño para entrar todas.*/
    vertical-align: top;
}
.recommended-movies .container-carrusel .carrusel .movie.hover{
    transform: scale(1.2);  /*Cambiamos el tamaño de la caja*/
    transform-origin: center;  /*Declaramos que el aumento del tamaño sea por el centro.*/
}
/* Media Queries */
@media(max-width:800px){
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }
    header .container{
        flex-direction: column;
        text-align: center;
    }
    .main-movie{
        font-size: 14px;
    }
    .main-movie .description{
        max-width: 100%;
    }

    .recommended-movies .container-carrusel{
        overflow: visible;
    }
    .recommended-movies .container-carrusel .carrusel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .recommended-movies .indicators{
        display: none;
    }
    .recommended-movies .indicators,
    .recommended-movies .container-main .arrow-left,
    .recommended-movies .container-main .arrow-right{
        display: none;
    }
}
